{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="col-4 pt-3 border border-1 rounded bg-white d-flex flex-column">
        <form class="d-flex flex-column gap-1" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
                </div>
            {% endif %}

            <h5 class="mb-3 font-weight-normal">Please sign in</h5>
            <label for="username">Email / username</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <button type="submit" class="m-3 btn btn-info align-self-end">Connect</button>
            <div>
                <a class="text-white" href="{{ path('register') }}">Not register yet ! Go for it !</a>
            </div>
        </form>
    </div>
{% endblock %}
