<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href={{ asset('/build/images/logo.bafd2a33.svg') }}/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="logo" src="{{ asset('/build/images/logo.bafd2a33.svg') }}" alt="ACME logo">
            Wish !
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="ms-auto navbar-nav">
                <a class="nav-item nav-link active" href="{{ path('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ path('create') }}">Create Wish</a>
                <a class="nav-item nav-link" href="{{ path('app_category_index') }}">Category</a>
                {#                    <a class="nav-item nav-link" href="{{ path('about_us') }}">About us</a> #}
                {#                    <a class="nav-item nav-link" href="">Contact</a> #}
            </div>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<footer class="bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">
            Copyright &copy; Seven Valley {{ "now"|date("Y") }}
        </p>
    </div>
</footer>
</body>
</html>
