<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href={{ asset('/build/images/logo.bafd2a33.svg') }}/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="container-fluid d-flex flex-column min-vh-100">
<header class="row">
    <nav class="navbar navbar-expand-lg">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="ms-5">
                <a class="navbar-brand" href="/">
                    <img class="logo p-1" src="{{ asset('/build/images/logo.bafd2a33.svg') }}" alt="ACME logo">
                    <span class="ps-3 navbar-text">Wish List </span>
                </a>
            </div>
            <div class="collapse navbar-collapse me-5" id="navbarNav">
                <ul class="navbar-nav">
                    {% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('admin_user_list') }}">User list</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('wish_list') }}">Your wish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('category_list') }}">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('wish_add') }}">Create Wish</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ path('contact_us') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ path('about_us') }}">About us</a>
                    </li>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="row flex-grow-1 d-flex justify-content-center align-items-center">
    {% block body %}{% endblock %}
</main>
<footer class="row p-3">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">
            Copyright &copy; Seven Valley {{ "now"|date("Y") }}
        </p>
    </div>
</footer>
</body>
</html>
